@media only screen and (min-width: 320px) and (max-width: 994px) {
        .imageBackground {
        max-width: 100%;
        z-index: 99999;
        max-height: 100%;
        /*position: absolute;*/
        /*top: 0;*/
    }

    #notSupported {
        width: 100%;
        height: auto;
        display: none;
        z-index: 99999;
    }

    #safari {
        width: 100%;
        height: auto;
        display: none;
        background: #091930;
        z-index: 99999;
    }

    .imageBackgroundsafari {
        margin: 0 auto;
        max-height: 100%;
        z-index: 99999;
        display: block;
    }

    .imageBackgroundCalibrate {
        margin: 0 auto;
        max-height: 100%;
        z-index: 99999;
        display: block;
    }

    .calibrateText {
        display: block;
        font-size: 20px;
        text-align: center;
        width: 85%;
        margin: 0 auto;
    }

    #calibrate {
        margin: 0 auto;
        position: absolute;
        background: #091930;
        z-index: 10000;
        width: 100%;
        display: none;
        height: 100%;
    }

    .button-start {
        display: none;
        border-radius: 40px;
        padding: 17px 54px;
        background: transparent;
        border: 1px solid #008bf4;
        color: #008bf4;
        text-align: center;
        margin: 20% auto;
        font-size: 25px;
    }
}