/*.loaderContent {*/
/*background-color: #09192E;*/
/*z-index: 9999;*/
/*background-repeat: no-repeat;*/
/*background-size: 200px 200px;*/
/*position: fixed;*/
/*width: 100%;*/
/*height: 100%;*/
/*top: 0;*/
/*left: 0;*/
/*}*/
/*.loaderContent .spriteLoader {*/
/*width: 75px;*/
/*height: 75px;*/
/*position: absolute;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*bottom: 0;*/
/*margin: auto;*/
/*display: block;*/
/*background-image: url(/public/loader-rodin-logo.png);*/
/*background-size: auto;*/
/*!*animation: play 2s steps(60) infinite;*!*/
/*!*-webkit-animation: play 2s steps(60) infinite;*!*/
/*!*-moz-animation: play 2s steps(60) infinite;*!*/
/*!*-ms-animation: play 2s steps(60) infinite;*!*/
/*}*/
/*@-webkit-keyframes play {*/
/*0% {*/
/*background-position: 0px;*/
/*}*/
/*100% {*/
/*background-position: -4500px;*/
/*}*/
/*}*/
/*@-moz-keyframes play {*/
/*0% {*/
/*background-position: 0px;*/
/*}*/
/*100% {*/
/*background-position: -4500px;*/
/*}*/
/*}*/
/*@-ms-keyframes play {*/
/*0% {*/
/*background-position: 0px;*/
/*}*/
/*100% {*/
/*background-position: -4500px;*/
/*}*/
/*}*/
/*@-o-keyframes play {*/
/*0% {*/
/*background-position: 0px;*/
/*}*/
/*100% {*/
/*background-position: -4500px;*/
/*}*/
/*}*/
/*@keyframes play {*/
/*0% {*/
/*background-position: 0px;*/
/*}*/
/*100% {*/
/*background-position: -4500px;*/
/*}*/
/*}*/

.loader {
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: #09192E;
    text-align: center;
}
.loader > img {
    padding-top: 45px;
    width: 100px;
}
.text-loading {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}